{% extends "base.html" %}

{% block title %}{% endblock %}
{% block script %}
{% endblock %}
{% block main %}

<h2>About T-Wind</h2>
<div style='float:right;'>
    <!-- <img src="/img/log_T-Wind.png" height="680" width="750" alt=""> -->
    <img src="/img/log_T-Wind.png" height="340" width="430" alt="">
</div>
<br><br>
<div id="T-Wind">
  <p>徒步的风/T-Wind<br><br>
    在这个小站中，我做两件事:<br>
    &nbsp&nbsp码代码和码字。<br><br>
    这虽和我的术业无甚必然关联，但是我很乐于做这两件事。</p><br>
  <p><a href="mailto:T-Wind@xiakelite.com">E-mail me:</a> T-Wind@xiakelite.com</p>
</div>


<div id="sidelegend" style="right: 0px; top: 40px;">
  <a href="/about/">About XiakeLite</a>
</div>
<div id="sidelegend" style="right: 0px; top: 75px;">
  <a href="/about/T-Wind/">About T-Wind</a>
</div>
<div id="sidelegend" style="right: 0px; top: 110px;">
  <a href="/about/Vivian/">About Vivian</a>
</div>
<div id="sidelegend" style="right: 0px; top: 145px;">
  <a href="/about/Qing/">About 竹小青</a>
</div>
{% endblock %}

