{% extends "base.html" %}

{% block title %}{% endblock %}
{% block script %}
{% endblock %}
{% block main %}

<h2>About Vivian</h2>

  <div style='float:right;'>
    <img src="/img/log_Vivian.png" height="240" width="280" alt="">
  </div>

<div id="Vivian">
    <h5>关于Vivian的杂七杂八。</h5>
    <p>最怕介绍自己了。</p>
    <p>Vivian是个不太自信的姑娘，人生简历乏善可陈，最自信的就是一定是个善良的人，虽然不会看到流浪的小动物一定要捡回去，但活了23年，没有做过违背良心的事，内心很坦荡。所以大家不要担心我会是网络骗子，不骗钱，不骗感情。</p>
    <p>对文字有一种不吐不快的强迫症，哪怕只是没营养的吐槽...以后请各位别怪我有事没事儿写两句...我忏悔...</p>
    <p>Vivian只要是健康的东西，都喜欢。游泳、弹琴、吃水果蔬菜...</p>
    <p>Vivian不求关注，只是若你在路过我的文字的时候，有些许感同身受就留些评价，哪怕只言片语...Vivian都会为此感到真心的快乐。</p> 
    <p>关于Vivian的点滴，文字里都看得到，但千万别把我想象成美女就行...哈哈，好吧，Vivian自信爆棚了。</p>
    <p>另外，要谢谢班长给这个地方，为了找一个远离是非的环境自己也是各种注册账号，结果就是密码账号统统混乱掉，文章东一篇，西一篇，终不能聚集完整，安家，就在这里了，呐，给腾个椅子坐吧...</p>
    <p>侠骨柔肠百转，万水千山看遍，不期然，相遇...</p>
    <a href="http://weibo.com/u/1679583593/" target="_blank">围观Vivian的新浪微博:</a>http://weibo.com/u/1679583593/<br>
    <a href="http://user.qzone.qq.com/756395389/" target="_blank">前去Vivian的QQ"阁楼":</a>http://user.qzone.qq.com/756395389/
  <br><br><br>
</div>

<div id="sidelegend" style="right: 0px; top: 40px;">
  <a href="/about/">About XiakeLite</a>
</div>
<div id="sidelegend" style="right: 0px; top: 75px;">
  <a href="/about/T-Wind/">About T-Wind</a>
</div>
<div id="sidelegend" style="right: 0px; top: 110px;">
  <a href="/about/Vivian/">About Vivian</a>
</div>
<div id="sidelegend" style="right: 0px; top: 145px;">
  <a href="/about/Qing/">About 竹小青</a>
</div>
{% endblock %}

