{% extends "base.html" %}

{% block title %}{% endblock %}
{% block script %}
{% endblock %}
{% block main %}

<h2>About 竹小青</h2>
<div style='float:right;'>
    <!-- <img src="/img/log_T-Wind.png" height="680" width="750" alt=""> -->
    <img src="/img/log_Qing.png" height="240" width="280" alt="">
</div>
<br><br>
<div id="Qing">
  <font color="green">竹小青：</font>
  <p>
  嗯，我其实就是个简单到可以用两个字概括的女孩：<br>
  （这里插播一条，刚才室友S 看到这句话，我索性问她，用一个词概括我是什么呢。。“神经”= = 好吧，我又问室友Q ，“山楂”。。。然后是室友X 。。“逗逼”。。）<br>
  难道我是一个有点神经爱吃山楂的逗逼？。。<br><br>
  不，其实我想说的是，“随意”。。怎么理解呢。。就是怎样都可以啊~<br>
  没有什么性格，也可以说是有各种各样的性格；乍一看是文艺女青年，相处一下就发现是普通女青年，相处深了就发现是二逼女青年。。其实我还真就是个文艺女青年！<br><br>
  嘿嘿，我来这里。。就是。。做摘抄。。额，听上去一点也不高大上。。但是~~<br> 没有绿叶，哪里能衬出红花的娇艳呢~~<br><br>
  嘿嘿，就让我成为这个花园里最绿的那片叶子吧~</p>
</div>


<div id="sidelegend" style="right: 0px; top: 40px;">
  <a href="/about/">About XiakeLite</a>
</div>
<div id="sidelegend" style="right: 0px; top: 75px;">
  <a href="/about/T-Wind/">About T-Wind</a>
</div>
<div id="sidelegend" style="right: 0px; top: 110px;">
  <a href="/about/Vivian/">About Vivian</a>
</div>
<div id="sidelegend" style="right: 0px; top: 145px;">
  <a href="/about/Qing/">About 竹小青</a>
</div>
{% endblock %}

