{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}

<div>
  <h2>Blogs &nbsp&nbsp
    <a href="/feed.atom" target="_blank"><img src="/img/rss32.png" alt="" style="vertical-align:middle;">
    </a>
  </h2>

<h5>About Markdown</h5>
<p>这个blog系统采用Markdown进行写作。</p>
<p>About Markdown, Markdown是一个非常高效、简洁的格式控制或者说排版的工具，是标记语言的一种，它的学习曲线非常的平缓，学习成本很低，我猜想如果国内微软的word软件盗版度不高的话，Markdown会成为国内最流行的写作、论文排版工具。</p>
<p>Markdown标准的文档<a href="/md/">请戳这里</a>进行速查。更多有关markdown的介绍可前去<a href="http://baike.baidu.com/view/2311114.htm">百度百科</a>/<a href="http://en.wikipedia.org/wiki/Markdown">维基百科</a>一下。</p>
{% endblock %}
