{% extends "base.html" %}

{% block title %}Add New Article{% endblock %}

{% block css %}
<style>
.errors { color:red; }
h1{ font-size:20px; }
#title, #tags { width:100%; height:1.5em; }
textarea {height: 200px; width: 100%;padding:2px; }
.preview {border: 2px solid #999999; background-color:#DDDDDD; font-size:14px; padding:2px 8px 2px 8px; margin-left:20px;}
#preview {border: 2px solid green;padding:2px 8px 2px 8px;}
</style>
{% endblock %}

{% block js %}
<script type="text/javascript">
function preview() {
    var obj = document.getElementById("preview");
    var xmlhttp = new XMLHttpRequest();
    xmlhttp.onreadystatechange = function() {
        if (xmlhttp.readyState == 4 && xmlhttp.status == 200)
            obj.innerHTML = xmlhttp.responseText;
    }
    xmlhttp.open("POST", "/ajax/markdown/", true);
    xmlhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
    var content = document.getElementById("content").value;
    xmlhttp.send("text=" + encodeURIComponent(content));
}

function disable_btn() {
    var btn = document.getElementById("submit");
    btn.value = 'Please Waiting...';
    btn.disabled = "disabled";
}
document.getElementById("submit").setAttribute("onclick", "setTimeout(disable_btn, 1)");
</script>
{% endblock %}

{% block main %}
  <h1>Add New Article</h1>

  {% from "_form_helpers.html" import render_field %}
  
  <form id="main_form" action="{{ action_url }}" method="post">
      <p><a href="/md/" target="_blank">关于markdown写作语法请戳这里进行速查</a></p>
      <p>{{ form.hidden_tag() }}</p>
      <p>{{ render_field(form.title, placeholder="标题") }}</p>
      <p>{{ render_field(form.content) }}</p>
      <p>{{ render_field(form.tags, placeholder="第一个tag请表明作者; tag尽量与现有同名以便读者归类查找") }}</p>
      <p>{{ render_field(form.is_public) }}</p>
      <p>{{ render_field(form.is_excerpt) }}</p>
      <p class="submit">{{ form.submit }} <a class="preview" onclick="preview()" href="javascript:void()">Preview</a></p>
  </form>

  <div id="preview"></div>
  <div>
    <strong style="color:red;">Warning:</strong>
    只有"Creat Article"之后才能保存到服务器。请在自己电脑上备份自己的文章。
  </div>
{% endblock %}
