{% extends "base.html" %}

{% block title %}{% endblock %}

{% block main %}

<div>
  <h2>Blogs &nbsp&nbsp
    <a href="/feed.atom" target="_blank"><img src="/img/rss32.png" alt="" style="vertical-align:middle;">
    </a>
  </h2>
  <small>原创&博文</small>
  <br><br>

  {% for article in articles %}
    <h6><a href="{{ article.get_absolute_url() }}">{{ article.title }}</a></h6>
    &nbsp&nbsp&nbsp {% if article.tags %}Tags: {{ article.tags|link_tags|safe }}{% endif %}
  {% endfor %}
</div>
<br>
{% endblock %}
