{% extends "base.html" %}

{% block main %}
<div>
  <h2>XiakeLite&nbsp&nbsp
    <a href="/feed.atom" target="_blank"><img src="/img/rss32.png" alt="" style="vertical-align:middle;">
    </a>
  </h2>

  <div>
    <h5>Tags@<a href="/blog/"><img src="/img/blog.png" alt="" style="vertical-align:middle;"></a>Blogs</h5> 
    <small>------原创&博文</small><br><br>
    &nbsp&nbsp&nbsp<a href="/tag/Vivian/">VIVIAN</a> &nbsp&nbsp&nbsp<a href="/tag/徒步的风/">徒步的风</a> &nbsp&nbsp || &nbsp&nbsp<a href="/tag/随笔/">随笔</a> &nbsp&nbsp&nbsp<a href="/tag/断句的散文/">断句的散文</a> &nbsp&nbsp || &nbsp&nbsp<a href="/tag/T-Wind的连环画/">T-Wind的连环画</a> &nbsp&nbsp&nbsp<a href="/tag/高中旧文/">高中旧文</a>&nbsp&nbsp&nbsp<a href="/tag/网站相关/">网站相关</a></p>
  </div>
  <br><br>
  <div>
    <h5>Tags@<a href="/excerpt/"><img src="/img/excerpt.png" alt="" style="vertical-align:middle;"></a>Excerpts</h5>
    <small>------摘抄&书评</small><br><br>
    &nbsp&nbsp&nbsp<a href="/tag/Vivian/">VIVIAN</a> &nbsp&nbsp&nbsp<a href="/tag/竹小青/">竹小青</a> &nbsp&nbsp&nbsp<a href="/tag/徒步的风/">徒步的风</a> &nbsp&nbsp || &nbsp&nbsp&nbsp<a href="/tag/摘抄/">摘抄</a> &nbsp&nbsp&nbsp<a href="/tag/书评/">书评</a> &nbsp&nbsp || &nbsp&nbsp&nbsp<a href="/tag/小说/">心情</a> &nbsp&nbsp&nbsp<a href="/tag/小说/">小说</a> &nbsp&nbsp&nbsp<a href="/tag/杂文/">杂文</a>&nbsp&nbsp&nbsp<a href="/tag/散文/">散文</a>
  </div>
  <br><br>
  <div>
    <h5>Writers@<a href="/about/"><img src="/img/about.png" alt="" style="vertical-align:middle;"></a>About</h5>
    <br><br>
    &nbsp&nbsp <a href="/about/T-Wind/"><img src="/img/log_T-Wind.png" height="120" width="140" alt="" style="vertical-align:middle;"></a>
    &nbsp&nbsp <a href="/about/Vivian/"><img src="/img/log_Vivian.png" height="120" width="140" alt="" style="vertical-align:middle;"></a>
    &nbsp&nbsp <a href="/about/Qing/"><img src="/img/log_Qing.png" height="120" width="140" alt="" style="vertical-align:middle;"></a>
  </div>
</div>
<br>
<div id="sidelegend" style="right: 0px; top: 40px;">
        <a href="/xiakelite/">@XiakeLite</a>
      </div>
{% endblock %}
