{% extends "base.html" %}

{% block main %}
<div>
  <h2>Lab Entrance</h2>
  <small>
    <font color="red">if</font> you <font color="red">is</font> geek <font color="red">or not</font> Muggle：<br>
    &nbsp <font color="red">print</font> <font color="orange">"Welcome to Xiakelite."</font><br>
    <font color="red">try</font>:<br>
    &nbsp Home = <font color="blue">open</font>(<a href="/" target="_blank">'/'</a>)<br>
    &nbsp Blogs = <font color="blue">open</font>(<a href="/blog/" target="_blank">'/blog/'</a>)<br>
    &nbsp Excerpts = <font color="blue">open</font>(<a href="/excerpt/" target="_blank">'/excerpt/'</a>)<br>
    &nbsp About = <font color="blue">open</font>(<a href="/about/" target="_blank">'/about/'</a>)<br>
    &nbsp Lab = <font color="blue">open</font>(<a href="/lab/entrance">'/lab/entrance'</a>)<br>
    <font color="red">except</font> <font color="blue">IOError</font><font color="red"> as</font> CannotReadChinese:<br>
    &nbsp <font color="red">try</font>:<br>
    &nbsp&nbsp&nbsp <font color="blue">open</font>(<a href="http://translate.google.cn/?hl=zh-CN#zh-CN|en|侠客" target="_blank">'chinese-english dictionary'</a>)<br>
    &nbsp <font color="red">except</font> <font color="blue">IOError</font><font color="red"> as</font> Self_torture:<br>
    &nbsp&nbsp&nbsp <font color="red">print</font><font color="orange"> "You can always stay in the 'Lab', this section is in English."</font>

  </small>
</div>
<br><br><br>
<div>
  &nbsp&nbsp<font size="7"><a href="/lab/" target="_blank">Enter In</a></font>
</div>
<br><br><br>

{% endblock %}
