{% extends "noteshub_base.html" %}

{% block title %}{% endblock %}

{% block main %}

<div>
  <h2>Notes &nbsp&nbsp
    <a href="/ntfeed.atom" target="_blank"><img src="/img/rss32.png" alt="" style="vertical-align:middle;">
    </a>
  </h2>
  <small>Read the world, let the world read.</small>
  <br><br>

  {% for note in notes %}
    <h6>{{ note.number }}. <a href="{{ note.get_absolute_url() }}">{{ note.title }}</a></h6>
    &nbsp&nbsp&nbsp {% if note.tags %}Tags: {{ note.tags|link_tags|safe }}{% endif %}
  {% endfor %}
</div>
<br>
{% endblock %}
